@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { /*+ Hazır tagler(h1, a) burada yazılacak */
  html {
    /* font-family: 'Cabin', sans-serif; */
    @apply
      bg-gray-100 /* bg-ghost_white */
      font-roboto
  }

  aside li {
    @apply
      !mt-0
      !mb-0
  }
}

@layer components { /*+ Kendi eklediğin classlar(green-btn, model) burada yazılacak */
  .sidebar-elm {
    @apply
      flex
      items-center
      py-2
      px-3
      text-base
      font-normal
      !rounded-md
      text-steel_blue
      hover:bg-indigo_dye
      hover:text-alica_blue
      transition duration-200
      active:scale-95
  }

  .sidebar-elm-text {
    @apply
      ml-2
  }

  .save-btn {
    @apply
    py-1
    transition duration-300
    shadow-button
    px-3
    text-sm
    w-fit
    text-ghost_white
    border
    border-transparent
    bg-indigo_dye
    rounded-md
    hover:bg-queen_blue
    focus:z-10
    focus:outline-none 
    active:scale-95
  }

  .clear-btn {
    @apply
    py-1
    transition duration-300
    shadow-button
    px-3
    text-sm
    w-fit
    text-oxford_blue
    border
    border-transparent
    focus:outline-none
    bg-shadow_blue
    rounded-md
    hover:bg-steel_blue
    hover:text-mn_blue
    focus:z-10
    active:scale-95
  }

  .golden-btn {
    @apply
    py-1
    transition duration-300
    shadow-button
    px-3
    text-sm
    w-fit
    text-oxford_blue
    border
    border-transparent
    focus:outline-none
    bg-golden
    rounded-md
    hover:bg-golden_light
    hover:text-prussian_blue
    focus:z-10
    active:scale-95
  }

  .danger-btn {
    @apply
    py-1
    transition duration-300
    shadow-button
    px-3
    text-sm
    w-fit
    text-ghost_white
    border
    border-transparent
    focus:outline-none
    bg-eggplant
    rounded-md
    hover:bg-eggplant_light
    hover:text-white
    focus:z-10
    active:scale-95
  }

}

@layer utilities { /*+ Pure CSS burada yazılacak */

  ::-webkit-scrollbar {
    width: 9px;
    height: 14px;
  }

  ::-webkit-scrollbar-track {
    background-color: #37526E;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #112236;
    border: 1px solid transparent;
    border-radius: 6px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #1E3249;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #DBE4ED;
  }

  ::-webkit-scrollbar-corner{
    background: #37526E;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
}