@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { /*+ Hazır tagler(h1, a) burada yazılacak */
  html {
    /* font-family: 'Cabin', sans-serif; */
    @apply
      bg-gray-50
      font-roboto
  }

  aside li {
    @apply
      !mt-0
      !mb-0
  }
}

@layer components { /*+ Kendi eklediğin classlar(green-btn, model) burada yazılacak */
  .sidebar-elm {
    @apply
    flex
    items-center
    py-2
    px-3
    text-base
    font-normal
    text-laurel_green
    rounded-[4px]
    hover:bg-kombu_green
    hover:text-beige
    transition duration-200
    active:scale-95
  }

  .sidebar-elm-text {
    @apply
      ml-2
  }
}

@layer utilities { /*+ Pure CSS burada yazılacak */

  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  ::-webkit-scrollbar-track {
    background-color: #2B3021;
  }

  ::-webkit-scrollbar-thumb {
    background: #414833;
    border: 2px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #363C2A;
    border: 2px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-corner{
    background: #414833;
  }
}