.login {
  overflow: hidden;
  padding: 30px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 4px 4px 8px rgba(17, 34, 54, 0.3);
}

.login::before, .login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(17, 34, 54, 0.2);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(17, 34, 54, 0.4);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}

.login > input {
  display: block;
  border-radius: 6px;
  font-size: 15px;
  background: #BFC7AD;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin-bottom: 15px;
  color: #363C2A;
  outline: none;
  border: 1px solid #BFC7AD;
}

.login > input:focus {
  border: 1px solid #525943;
}

.login > input::placeholder {
  color: #525943;
  opacity: .6;
  font-size: 15px;
}

.login > button {
  cursor: pointer;
  color: #A3BAD2;
  font-size: 16px;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  background-color: #112236;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
  outline: none;
  transition: .3s;
}

.login > button:focus {
  transform: scale(.95);
}

.login > button:hover {
  background-color: #2A425B;
  color: #DBE4ED;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}